<div class="stars"></div>
<div class="stars1"></div>
<div class="stars2"></div>

<div class="title-portfolio">
  <h1>Portfolio - Gareth Cary</h1>
  <p>View Website Links Below </p>
</div>

<br>
<br>
<div class="all-cards-list">
  <% @websites.each do |website| %>
  <div class="whole-card">
    <%= link_to "#{website.link}", class: "link-blue-line" do %>
    <div class="card-trip">
      <img src="<%= website.image %>" alt="#">
      <div class="card-trip-infos">
        <div>
          <h5 style="font-size: 20px;"><%= "#{website.title}" %></h5>
          <h2><%= "#{website.name}" %></h2>
          <p><%= "#{website.description}" %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>






<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
