<br>
<br>
<div class="stars"></div>
<div class="stars1"></div>
<div class="stars2"></div>

<div class="contact-page-wrapping-whole-content">
  <h1 id="page_title">Contact</h1>

  <div class="contact-form-contact-new">
    <div>
      <%= form_for @contact do |f| %>

      <%= f.label :name, class: 'label_contact' %><br>
      <%= f.text_field :name, required: true, class: 'text_area_contact' %>

      <br>

      <%= f.label :email, class: 'label_contact' %><br>
      <%= f.email_field :email, required: true, class: 'text_area_contact' %>

      <br>

      <%= f.label :message, class: 'label_contact' %><br>
      <%= f.text_area :message, as: :text, class: 'message_area_contact' %>

      <div class="hidden">
        <%= f.label :nickname %><br>
        <%= f.text_field :nickname, hint: 'leave this field blank' %>
      </div>


      <%= f.submit 'Send Message', class: 'button_contact' %>

      <% end %>

<br>

<br>

<br>

<br>

<br>


    </div>
  </div>
</div>

<br>

<br>

<br>

<br>

<br>
